<nav class="bg-gray-800 text-white p-4 flex justify-between">
  <div>
    <!-- Summary link on the far left -->
    <a outerLink="/summary" class="text-white pr-4 hover:text-gray-300" r>
      Key Stone
    </a>
  </div>
  <div>
    <!-- Other links on the far right -->
    <a routerLink="/summary" class="text-white px-4 hover:text-gray-300"
      >Summary</a
    >
    <a routerLink="/income" class="text-white px-4 hover:text-gray-300"
      >Income</a
    >
    <a routerLink="/expenses" class="text-white px-4 hover:text-gray-300"
      >Expenses</a
    >
  </div>
</nav>
